# Database
DB_NAME=lms
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Session
SESSION_SECRET=

# JWT
JWT_SECRET=

# Email
EMAIL_USER=
EMAIL_PASS=
EMAIL_TO=