<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h5 class="m-b-10">Add Book</h5>
                    </div>
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/books"><i class="feather icon-home"></i></a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="/books">Book List</a>
                      </li>
                      <li class="breadcrumb-item"><a href="#!">Add Book</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Add Book</h5>
                  </div>
                  <div class="card-body task-data">
                    <div
                      id="errorAlert"
                      class="alert alert-danger"
                      style="display: none"
                    ></div>
                    <div
                      id="successAlert"
                      class="alert alert-success"
                      style="display: none"
                    ></div>
                    <form id="addBookForm">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Book Name</label>
                        <div class="col-sm-6">
                          <input
                            type="text"
                            name="book_name"
                            class="form-control"
                            placeholder="Book Name"
                            required
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label"
                          >Author Name</label
                        >
                        <div class="col-sm-6">
                          <input
                            type="text"
                            name="author_name"
                            class="form-control"
                            placeholder="Author Name"
                            required
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">ISBN</label>
                        <div class="col-sm-6">
                          <input
                            type="text"
                            name="isbn"
                            class="form-control"
                            placeholder="ISBN"
                            required
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label"
                          >Book Image</label
                        >
                        <div class="col-sm-6">
                          <input
                            type="file"
                            name="file"
                            class="form-control"
                            accept=".jpg,.jpeg,.png"
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 text-right">
                          <button type="submit" class="btn btn-primary">
                            Save
                          </button>
                          <a href="/books" class="btn btn-danger">Cancel</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $("#addBookForm").on("submit", function (e) {
    debugger;
    e.preventDefault();
    $("#errorAlert").hide();
    $("#successAlert").hide();
    $('button[type="submit"]').prop("disabled", true).text("Saving...");

    var formData = new FormData(this);

    debugger;
    $.ajax({
      url: "/books/add",
      type: "POST",
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      success: function (response) {
        if (response.success) {
          $("#successAlert").text(response.message).show();
          setTimeout(function () {
            window.location.href = "/books";
          }, 1000);
        } else {
          $("#errorAlert").text(response.message).show();
          $('button[type="submit"]').prop("disabled", false).text("Save");
        }
      },
      error: function () {
        $("#errorAlert").text("Something went wrong").show();
        $('button[type="submit"]').prop("disabled", false).text("Save");
      },
    });
  });
</script>
