<!DOCTYPE html>
<html lang="en">

<head>

	<title>LMS</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	

	<!-- Favicon icon -->
	<link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="./assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="./assets/plugins/animation/css/animate.min.css">

	<!-- vendor css -->
	<link rel="stylesheet" href="./assets/css/style.css">
	
	


</head>

<!-- [ signin-img-tabs ] start -->
<div class="blur-bg-images"></div>
<div class="auth-wrapper">
	<div class="auth-content container">
		<div class="card">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="card-body">
						<h2 class="mb-4">Library Management System<span class="text-c-blue" style="color: #feca05;"> Login</span></h2>
						<p class="mb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industrys.</p>
						<div class="toggle-block">
							<!--ol class="position-relative carousel-indicators justify-content-start">
								<li class=""></li>
								<li class="active"></li>
							</ol-->
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="feather icon-mail"></i></span>
								</div>
								<input type="email" class="form-control" placeholder="User Name">
							</div>
							<div class="input-group mb-4">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="feather icon-lock"></i></span>
								</div>
								<input type="password" class="form-control" placeholder="Password">
							</div>
							<div class="saprator"><span>OR</span></div>
							<button class="btn btn-facebook mb-2 mr-2"><i class="fab fa-facebook-f"></i>facebook</button>
							<button class="btn btn-googleplus mb-2 mr-2"><i class="fab fa-google-plus-g"></i>Google</button>
							<button class="btn btn-twitter mb-2 mr-2"><i class="fab fa-twitter"></i>Twitter</button>
							
							<div class="form-group text-left mt-4">
								<div class="checkbox checkbox-primary d-inline">
									<input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
									<label for="checkbox-fill-a1" class="cr"> Save credentials</label>
								</div>
							</div>
							<a href="book-list.html" class="btn btn-warning mb-4">LOGIN</a>
							
						</div>
						<div class="toggle-block collapse">
							<ol class="position-relative carousel-indicators justify-content-start">
								<li class="active"></li>
								<li class=""></li>
							</ol>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="feather icon-user"></i></span>
								</div>
								<input type="text" class="form-control" placeholder="Username">
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="feather icon-mail"></i></span>
								</div>
								<input type="email" class="form-control" placeholder="Email address">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="feather icon-lock"></i></span>
								</div>
								<input type="password" class="form-control" placeholder="Password">
							</div>
							<div class="form-group text-left mt-2">
								<div class="checkbox checkbox-primary d-inline">
									<input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
									<label for="checkbox-fill-2" class="cr">Send me the <a href="#!"> Newsletter</a> weekly.</label>
								</div>
							</div>
							<a href="book-list.html" class="btn btn-primary mb-4">Login</a>
							<button class="btn btn-primary btn-outline-primary mb-4 toggle-btn">Existing user</button>
						</div>
					</div>
				</div>
				<div class="col-md-6 d-none d-md-block">
					<img src="./assets/images/auth/img-auth-2.jpg" alt="" class="img-fluid bd-placeholder-img bd-placeholder-img-lg d-block w-100">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ signin-img-tabs ] end -->

<!-- Required Js -->
<script src="./assets/js/vendor-all.min.js"></script>
<script src="./assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<script>
	$('.toggle-btn').on('click', function() {
		$('.toggle-block').toggle();
	})
</script>

</body>

</html>
